<div class="footer">
    <div class="footer1">
        Gestion des organismes de formation | Fédération Française de Judo et disciplines associées.
    </div>
    <div class="footer2">
        @@2017, Tous droits réservés.
    </div>
</div>