body
{
  margin:0px;
  padding:0px;
  font-family: "Bebas Neue";
  font-weight:300;
}

html{ 
  background: url("../Images/dojo.jpg") no-repeat;
  background-size: cover;
  background-attachment:fixed;
  min-width:360px;
  font-family: "Bebas Neue";
  height:100%;
}

/* Titles */
.title-login-for{
    background-color:#004A73;
    height:80px;
    line-height:80px;
    color:white;
    font-size:29px;
    text-align:center;
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
}
/* Forms */
#form-div {
	background-color:rgba(72,72,72,0.4);
	width: 450px;
    left: 50%;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.form-div-inputs
{
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
}
            /****** Input Forms ****/
            .feedback-input {
	            color:#3c3c3c;
	            font-size: 18px;
	            border-radius: 0;
	            line-height: 22px;
	            background-color: #fbfbfb;
	            padding: 13px 13px 13px 54px;
	            margin-bottom: 10px;
	            width:100%;
	            -webkit-box-sizing: border-box;
	            -moz-box-sizing: border-box;
	            box-sizing: border-box;
              border: 3px solid rgba(0,0,0,0);
            }


            .feedback-input:focus{
	            background: #fff;
	            box-shadow: 0;
	            border: 3px solid #3498db;
	            color: #3498db;
	            outline: none;
              padding: 13px 13px 13px 54px;
            }
            /****** Text danger form input form *******/

            .text-danger {
                color: #c71424;
                font-size:15px;
                font-weight:bold;
                font-stretch:condensed;
            }

            .text-danger-form {
                color: #c71424;
                font-size:15px;
                font-weight:bold;
                font-stretch:condensed;
            }

/* Buttons */
.submit:hover {
	color: #3498db;
}

.ease {
	width: 0px;
	height: 50px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

#button-blue{
	float:left;
	width: 100%;
	border: #fbfbfb solid 1px;
	cursor:pointer;
	background-color: #004A73;
	color:white;
	font-size:18px;
	padding-top:12px;
	padding-bottom:12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #004A73;
    text-decoration:none;
}
/** Icons */
/* Icons ---------------------------------- */
#parent{}

#icon-home{
	background-image: url("../Images/Icons/icon-home.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-home{
	background-image: url("../Images/Icons/icon-home-hover.png");
}

#icon-login{
	background-image: url("../Images/Icons/icon-login.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-login{
	background-image: url("../Images/Icons/icon-login-hover.png");
}

#icon-logout{
	background-image: url("../Images/Icons/icon-logout.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-logout{
	background-image: url("../Images/Icons/icon-logout-hover.png");
}


#icon-tete{
	background-image: url("../Images/Icons/icon-tete.svg");
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#icon-tete:focus{
	background-image: url(../Images/Icons/icon-tete.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
#icon-password{
	background-image: url("../Images/Icons/icon-password.png");
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#icon-password:focus{
	background-image: url(../Images/Icons/icon-password.png);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
#icon-email{
	background-image: url(../Images/Icons/icon-email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#icon-email:focus{
	background-image:  url(../Images/Icons/icon-email.svg);
	background-size: 30px 30px;
    background-position: 11px 8px;
	background-repeat: no-repeat;
}

/*** Responsive attributes */
@media only screen and (max-width: 980px) {
    .admin-block-conteneur {
        width: 100%;
        display: block;
    }
}
     
@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		width: 88%;
	}

    .form-div-inputs
    {
		padding-left: 3%;
		padding-right: 3%;
    }
}

