body
{
  margin:0px;
  padding:0px;
  font-family: "Bebas Neue";
  font-weight:300;
}

html{ 
  background: url("../Images/dojo.jpg") no-repeat;
  background-size: cover;
  background-attachment:fixed;
  min-width:360px;
  font-family: "Bebas Neue";
  height:100%;
}

/************* Liste formations card **/
.content_lf_card{
    width:inherit;
    margin-left:30px;
    color:#004A73;
    padding-bottom:70px;
}

.lf_card{
    font-family: Oswald-Regular;
    background-color:white;
    width: 200px;
    margin-right: 20px;
    margin-top: 30px;
    display: inline-block;
    text-align: center;
}

.lf_card_title
{
    font-size:20px;
    padding-top:7px;
    padding-bottom:7px;
    box-shadow: 0px 6px 10px -2px grey;
}

.lf_card_desc
{
    margin-top: 15px;
    width:inherit;
    text-align:center;
    font-size: 12px;
    margin-bottom:15px;

}

.lf_card_image{
    margin-top:7px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
    line-height: 91px;
    background: #004A73;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.lf_card:hover{
    cursor: pointer;
    background-color: #eef8ff;
    -webkit-box-shadow: 0px 3px 24px 3px #004a73;
    -moz-box-shadow: 0px 3px 24px 3px #004a73;
    -o-box-shadow: 0px 3px 24px 3px #004a73;
    box-shadow: 0px 3px 24px 3px #004a73;
}

.lf_card_image img
{
    height:60px;
    width:60px;
}

.tr_clickable:hover
{
    cursor: pointer;
    background-color: #eef8ff;
    -webkit-box-shadow: 0px 3px 24px 3px #004a73;
    -moz-box-shadow: 0px 3px 24px 3px #004a73;
    -o-box-shadow: 0px 3px 24px 3px #004a73;
    box-shadow: 0px 3px 24px 3px #004a73;
}

/************* Organisme card ********/
.content_organisme_card
{
    width:inherit;
    margin-left:30px;
    color:#004A73;
}

.organisme_card
{
    font-family: Oswald-Regular;
    background-color:white;
    width: 200px;
    margin-right: 20px;
    margin-top: 30px;
    display: inline-block;
    text-align: center;
}

.organisme_card:hover{
    cursor: pointer;
    background-color: #eef8ff;
    -webkit-box-shadow: 0px 3px 24px 3px #004a73;
    -moz-box-shadow: 0px 3px 24px 3px #004a73;
    -o-box-shadow: 0px 3px 24px 3px #004a73;
    box-shadow: 0px 3px 24px 3px #004a73;
}

.organisme_card_title{
    font-family:BebasNeue;
    color:#004A73;
    font-size:30px;
    box-shadow: 0px 6px 10px -2px grey;
    padding-top:7px;
    padding-bottom:7px;
}

.organisme_card_subtitle
{
    color:#004A73;
    font-size: 13px;
}

.organisme_card_lieux
{
    padding:10px;
    text-align:center;
    line-height:17px;
    font-size: 12px;
}

.organisme_card_formations
{
    padding:10px;
    text-align:center;
    line-height:17px;
    font-size: 12px;
}

/************ Bootstrap *************/

#mano-bootstrap{
    font-family:Oswald-Regular;
    background-color:white;
    margin-bottom:40px;
    padding:30px;
}

/************ Custom Font ***********/
@font-face {
  font-family: Oswald-Regular;
  src: url('../../fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: BebasNeue;
  src: url('../../fonts/BebasNeue.otf');
}

/************ Content **************/
.content{
    width:960px;
    margin-left:auto;
    margin-right:auto;
    background-color:rgba(72,72,72,0.4);
    height:100vh;
    font-family:Oswald-Regular;
    min-height:620px;
}

.container-inline{
    width:inherit;
    padding-top:30px;
    text-align:center;
}

.accueil-card-conteneur{
    width:200px;
    margin:5px;
    background-color:white;
    display:inline-block;
    vertical-align:top;
}

.card-image{
    padding:30px;
    width:100px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    -webkit-box-sizing: initial;
}

.card-container-image{
    position:relative;
    width:inherit;
    box-shadow: 0 5px 10px 0 grey;
}

.card-desc-title{
    padding-top:20px;
    padding-bottom:10px;
    font-size:22px;
    width:inherit;
    font-family:'Bebas Neue';
    color:#004A73;
    background-color: #ECEDEE;
}

.card-desc{
    text-align:justify;
    font-family: Oswald-Regular;
    padding-left:12px;
    padding-right:12px;
    padding-bottom:20px;
    color:#004A73;
    height:144px;
    font-size:12px;
    background-color: #ECEDEE;
    -webkit-box-sizing: initial;
}

.card-image img
{
    height:100px;
    width:100px;
}

/********** Footer **************/
.footer {
  position: fixed;
  bottom: 0;
  width: inherit;
  background-color: #efefef;
  text-align: center;
}

.footer1{
    font-size:12px;
    margin: 5px;
}

.footer2{
    font-size:9px;
    margin:2px;
}

/* Titles */

.title-content-main{
    font-size: 50px;
    padding-top: 10px;
    font-family: 'Bebas Neue';
}
.title-content-second{
    font-size: 35px;
    font-family: 'Bebas Neue';
}

.title_blue{
    color: #004A73;
    font-size: 24px;
    font-weight: bold;
    border-bottom: #004173 7px solid;
}

.title-content
{
    text-align:center;
    background-color:#004A73;
    height:150px;
    color:white;
    z-index:10;
    position:relative;
    box-shadow: 0 5px 10px 0 rgba(0,74,115,0.45);
}

.title-login-for{
    background-color:#004A73;
    height:80px;
    line-height:80px;
    color:white;
    font-size:29px;
    text-align:center;
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
}
/* Forms */
#form-div {
	background-color:rgba(72,72,72,0.4);
	width: 450px;
    left: 50%;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.form-div-inputs
{
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
    font-family:Oswald-Regular;
}
            /****** Input Forms ****/
            .feedback-input {
	            color:#3c3c3c;
	            font-size: 18px;
	            border-radius: 0;
	            line-height: 22px;
	            background-color: #fbfbfb;
	            padding: 13px 13px 13px 54px;
	            margin-bottom: 10px;
	            width:100%;
	            -webkit-box-sizing: border-box;
	            -moz-box-sizing: border-box;
	            box-sizing: border-box;
              border: 3px solid rgba(0,0,0,0);
            }


            .feedback-input:focus{
	            background: #fff;
	            box-shadow: 0;
	            border: 3px solid #3498db;
	            color: #3498db;
	            outline: none;
              padding: 13px 13px 13px 54px;
            }
            /****** Text danger form input form *******/

            .text-danger {
                color: #c71424;
                font-size:15px;
                font-weight:bold;
                font-stretch:condensed;
            }

            .text-danger-form {
                color: #c71424;
                font-size:15px;
                font-weight:bold;
                font-stretch:condensed;
            }

/* Buttons */
.submit:hover {
	color: #3498db;
}

.ease {
	width: 0px;
	height: 50px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

#button-red{
    text-align:center;
	float:left;
	width: 100%;
	border: #fbfbfb solid 1px;
	cursor:pointer;
	background-color: #c71424;
	color:white;
	font-size:18px; 
	padding-top:12px;
	padding-bottom:12px;
    text-decoration:none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue{
	float:left;
	width: 100%;
	border: #fbfbfb solid 1px;
	cursor:pointer;
	background-color: #004A73;
	color:white;
	font-size:18px;
	padding-top:12px;
	padding-bottom:12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #004A73;
    border: #004A73 solid 1px;
    text-decoration:none;
}

#form-moitie
{
    width:50%;
}

.form-group-align
{
    width:30%;
    display:flex;
}

#button-red:hover
{
    text-decoration:none;
    background-color: rgba(0,0,0,0);
	color: #c71424;
    border: #c71424 solid 1px;
}



/** Icons */
/* Icons ---------------------------------- */
#parent{}

#icon-home{
	background-image: url("../Images/Icons/icon-home.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-home{
	background-image: url("../Images/Icons/icon-home-hover.png");
}

#icon-location{
	background-image: url("../Images/Icons/icon-location.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-location{
	background-image: url("../Images/Icons/icon-location-hover.png");
}

#icon-money{
	background-image: url("../Images/Icons/icon-money.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-money{
	background-image: url("../Images/Icons/icon-money-hover.png");
}

#icon-AC{
	background-image: url("../Images/Icons/icon-AC.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-AC{
	background-image: url("../Images/Icons/icon-AC-hover.png");
}

#icon-AS{
	background-image: url("../Images/Icons/icon-AS.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-AS{
	background-image: url("../Images/Icons/icon-AS-hover.png");
}

#icon-BP{
	background-image: url("../Images/Icons/icon-BP.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-BP{
	background-image: url("../Images/Icons/icon-BP-hover.png");
}

#icon-CFEB{
	background-image: url("../Images/Icons/icon-CFEB.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-CFEB{
	background-image: url("../Images/Icons/icon-CFEB-hover.png");
}

#icon-CQP{
	background-image: url("../Images/Icons/icon-CQP.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-CQP{
	background-image: url("../Images/Icons/icon-CQP-hover.png");
}

#icon-DE{
	background-image: url("../Images/Icons/icon-DE.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-DE{
	background-image: url("../Images/Icons/icon-DE-hover.png");
}

#icon-settings{
	background-image: url("../Images/Icons/icon-settings.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-settings{
	background-image: url("../Images/Icons/icon-settings-hover.png");
}

#icon-login{
	background-image: url("../Images/Icons/icon-login.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-login{
	background-image: url("../Images/Icons/icon-login-hover.png");
}

#icon-formation{
	background-image: url("../Images/Icons/icon-formation.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-formation{
	background-image: url("../Images/Icons/icon-formation-hover.png");
}

#icon-logout{
	background-image: url("../Images/Icons/icon-logout.png");
	background-size: 20px 20px;
	background-position: 17px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#parent:hover #icon-logout{
	background-image: url("../Images/Icons/icon-logout-hover.png");
}


#icon-tete{
	background-image: url("../Images/Icons/icon-tete.svg");
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#icon-tete:focus{
	background-image: url(../Images/Icons/icon-tete.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
#icon-password{
	background-image: url("../Images/Icons/icon-password.png");
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#icon-password:focus{
	background-image: url(../Images/Icons/icon-password.png);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
#icon-email{
	background-image: url(../Images/Icons/icon-email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
    margin-bottom: 14px;
}

#icon-email:focus{
	background-image:  url(../Images/Icons/icon-email.svg);
	background-size: 30px 30px;
    background-position: 11px 8px;
	background-repeat: no-repeat;
}

/*** Responsive attributes */
@media only screen and (max-width: 980px) {
    .admin-block-conteneur {
        width: 100%;
        display: block;
    }
}
     
@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		width: 88%;
	}

    .form-div-inputs
    {
		padding-left: 3%;
		padding-right: 3%;
    }
}

/******************** CSS POPUP *************************/

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    z-index:20;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background: #004A73;
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:white;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:white;
    color:#004A73;
    text-decoration:none;
}

