@model IEnumerable<OrganismeFormation.Models.Organismes>

@{
    ViewBag.Title = "Organismes";
}

<div class="content">
    <div class="title-content">
        <div class="title-content-main">Gestion des organismes de formation</div>
        <div class="title-content-second">Accueil Responsable</div>
    </div>
</div>


