@model OrganismeFormation.ViewModels.ExportViewModel

@{
    ViewBag.Title = "Exportation";
}



<div class="content">
    <div class="title-content">
        <div class="title-content-main">Gestion des organismes de formation</div>
        <div class="title-content-second">Exportation des données</div>
    </div>
    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        <div class="form-horizontal" id="mano-bootstrap">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <p> Vous pouvez exporter, une ligue, un organisme ou simplement une formation. Pour commencer choisissez une ligue puis vous pourrez affiner votre choix.</p>
            <hr />

            <div class="form-group">
                <h3> Ligues : </h3>
                    @Html.DropDownListFor(model => model.LigueId, new SelectList(Model.ligues, "Id", "Libelle"), new { @class = "dropdown"})
            </div>
            <div class="form-group-align">
                <div class="submit" id="form-moitie" style="margin-right:2.5px">
                    <a href='#' id="exporter" class="button-blue" style="text-align:center" >Exporter</a>
                    <div class="ease"></div>
                </div>
                <div class="submit" id="form-moitie" style="margin-right:2.5px">
                    <input type="submit" value="Affiner" id="button-blue" />
                    <div class="ease"></div>
                </div>
            </div>
        </div>
    }
    @{Html.RenderPartial("_Footer");}
</div>

<script>
    $(function () {
        //----- OPEN
        $('#exporter').on('click', function (e) {
            var id = $('#LigueId').val();
            window.location ="/Admin/GetCsvLigue/"+id;
        });
    });
</script>
