@model OrganismeFormation.Models.TypedeFinancements

@{
    ViewBag.Title = "Details";
}

<div class="content">
    <div class="title-content">
        <div class="title-content-main">Gestion des organismes de formation</div>
        <div class="title-content-second">Détail du type de financement</div>
    </div>
    <div id="mano-bootstrap">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Libelle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Libelle)
            </dd>

        </dl>
        <div class="form-group-align">
            <div class="submit" id="form-moitie" style="margin-right:2.5px">
                <a href='@Url.Action("Edit", "TypedeFinancements", new { id = Model.Id })' id="button-blue" style="text-align:center">Modifier</a>
                <div class="ease"></div>
            </div>
            <div class="submit" id="form-moitie" style="margin-left:2.5px">
                <a href='@Url.Action("Index")' id="button-red">Retour</a>
                <div class="ease"></div>
            </div>
        </div>
    </div>
    @{Html.RenderPartial("_Footer");}
</div>
