
@{
    ViewBag.Title = "Accueil";
}

<div class="content">
    <div class="title-content">
        <div class="title-content-main">Gestion des organismes de formation</div>
        <div class="title-content-second">Accueil</div>
    </div>
    <div class="container-inline">
        <div class="accueil-card-conteneur">
            <div class="card-container-image">
                <div class="card-image"><img src="~/Content/Images/vignettes/registrations.png" /></div>
            </div>
            <div class="card-desc-title">Formations</div>
            <div class="card-desc">Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.</div>
        </div>
        <div class="accueil-card-conteneur">
            <div class="card-container-image">
                <div class="card-image"><img src="~/Content/Images/vignettes/resp.png" /></div>
            </div>
            <div class="card-desc-title">Candidats</div>
            <div class="card-desc">obooi</div>
        </div>
        <div class="accueil-card-conteneur">
            <div class="card-container-image">
                <div class="card-image"><img src="~/Content/Images/vignettes/download.png" /></div>
            </div>
            <div class="card-desc-title">Exportation</div>
            <div class="card-desc">obooi</div>
        </div>
        <div class="accueil-card-conteneur">
            <div class="card-container-image">
                <div class="card-image"><img src="~/Content/Images/vignettes/statistics.png" /></div>
            </div>
            <div class="card-desc-title">Statistiques et résultats</div>
            <div class="card-desc">obooi</div>
        </div>
    </div>
    @{Html.RenderPartial("_Footer");}
</div>