
@{
    ViewBag.Title = "Accueil";
}

<div class="content">
    <div class="title-content">
        <div class="title-content-main">Gestion des organismes de formation</div>
        <div class="title-content-second">Accueil</div>
    </div>
    <div class="container-inline">
        <div class="accueil-card-conteneur">
            <div class="card-image"><img src="~/Content/Images/vignettes/registrations.png" /></div>
        </div>
        <div class="accueil-card-conteneur">
            <div class="card-image"><img src="~/Content/Images/vignettes/registrations.png" /></div>
        </div>
    </div>
    @{Html.RenderPartial("_Footer");}
</div>